
<div class="footer fixed-bottom " style=" bottom: 0; color: gold; font-family: Verdana; font-size: 18px; padding: 20px; background-color: black; box-shadow: 10px 0px 5px gray;">

    <div style="text-align:center; font-size:15px;">
        All Copyright &copy; are reserved - E-book
    </div>
    <!--Lila-->
</div>